#container label {
  text-align: center;
}
body {
  background-color: lightblue;
  align-self: right;
}
/* Style inputs with type="text", select elements and textareas */
div {
  width: 320px;
  padding: 12px;
  border: 8px solid gray;
  margin: 2;

}
input[type=text], select, textarea {
  width: 100%; /* half width */
  padding: 4px; /* Some padding */ 
  background-color: lightblue
  border: 1px solid #ccc; /* Gray border */
  border-radius: 2px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-bottom: 2px; /* Bottom margin */
  resize: horizontal; /* Allow the user to vertically resize the textarea (not horizontally) */
}<div id="contact_form">
 <label for="name" id="name_label">Name:</label>
 </div>
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #406AD5;
  color: skyblue;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 8px;
}
